.plug_window_main {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid;
    top: 30px;
    right: 10px;
    z-index: 50;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    animation: window_show 0.5s;
    -webkit-animation: window_show 0.5s;
}

@keyframes window_show {
    0% {
        width: 0;
        height: 0;
        top: 0;
        right: 0;
        font-size:0;
    }

    100% {
        width: 50px;
        height: 50px;
        border: 1px solid;
        top: 30px;
        right: 10px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
}

.plug_window_main .plug_window_city {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    animation: cityname 0.5s;
    -webkit-animation: cityname 0.5s;
}

@keyframes cityname{
    0%{
        font-size:0;
    }
    100%{
        font-size:14px;
    }
}

div.plug_window_temp{
    width:200px;
    height:100px;
    position: fixed;
    font-family: '黑体';
    right:50px;
    bottom:50px;
}
div.plug_window_temp span{
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);

    /* font-family: "League-Gothic", Courier; */
    font-size: 32px;
    text-transform: uppercase;
    color: rgb(255, 81, 58);
    text-shadow: 0 0 5px #fefcc9, 5px -5px 10px #feec85, -10px -10px 20px #ffae34, 10px -10px 30px #ec760c, -10px -10px 40px #cd4606;
}
div.plug_window_temp span::before{
    content:attr(data_city);
    font-family: '黑体';
    font-size: 14px;
    position: relative;
    bottom:0;
    left:0;
    display: inline-block;
}

div.plug_window_temp img{
    display: inline-block;
    width: 40px;
    height:auto;
    right:0;
    top:0;
    position: relative;
}
