.main{
    width:300px;
    height:500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin:0 auto;
}
.box{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin:0 auto;
}
.box .title span{
    display: inline-block;
    padding-bottom:10px;
}
.box .content{
    display: inline-flex;
    justify-content: center;
    flex-wrap:wrap;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 15px;
}

.box .content .item{
    display: inline-block;
    width:100%;
    height:auto;
    padding:5px;  
}

.box .content .item span{
    margin-right:5px;
}