.plug_window_main {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid;
    top: 30px;
    right: 10px;
    z-index: 50;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    animation: window_show 0.5s;
    -webkit-animation: window_show 0.5s;
}

@keyframes window_show {
    0% {
        width: 0;
        height: 0;
        top: 0;
        right: 0;
        font-size:0;
    }

    100% {
        width: 50px;
        height: 50px;
        border: 1px solid;
        top: 30px;
        right: 10px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
}

.plug_window_main .plug_window_city {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    animation: cityname 0.5s;
    -webkit-animation: cityname 0.5s;
}

@keyframes cityname{
    0%{
        font-size:0;
    }
    100%{
        font-size:14px;
    }
}

div.plug_window_temp{
    width:200px;
    height:100px;
    position: fixed;
    font-family: '黑体';
    right:50px;
    bottom:50px;
    background-color:#a3a3a39d;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
div.plug_window_temp .window_wendu{
    top:60%;
    left:58%;
    position: absolute;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);

    /* font-family: "League-Gothic", Courier; */
    font-size: 32px;
    text-transform: uppercase;
    color: #fcd15d;
    text-shadow: 0 0 5px #fefcc9, 5px -5px 10px #feec85, -10px -10px 20px #ffae34, 10px -10px 30px #ec760c, -10px -10px 40px #cd4606;
}

div.plug_window_temp .window_city{
    top:33%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    text-transform: uppercase;
    font-family: "League-Gothic", Courier;
    user-select: none;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
}

div.plug_window_temp img{
    display: inline-block;
    width: 40px;
    height:auto;
    left:12%;
    top:18%;
    position: absolute;
}

.window_small_font{
    color: #fcd15d;
    font-family: '黑体';
    font-size: 14px;
    position: absolute;
    display: inline-block;
}
div.plug_window_temp .window_date{
    bottom:3px;
    left:4px;
}

div.plug_window_temp .window_high{
    top:3px;
    right:4px;
}

div.plug_window_temp .window_low{
    bottom:3px;
    right:4px;
}

div.plug_window_temp .window_fengli{
    top:3px;
    left:4px;

}

div.window_background{
    width:100%;
    height:100%;
    background-image: url('http://img.netbian.com/file/2019/0824/2910976948f03393cb4d6b86757fc0a7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    opacity: 1;
    border-radius: 5px;
}


